.shopping-cart {
    width: 700px;
    height: auto;
    margin: 10px 20px;
    float:right;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }